/* Defino la paleta de colores de la pagina */
:root {
    --black: #000000;
    --white: #ffffff;
    --background: #F3F3F3;
}
html {
    font-size: 62.5%;  /* para hacer uso del rem sin problema -- 1 rem = 10px */
    /* Establece el tamaño base en 10px lo que facilita la conversión */
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
/* -- Estilos Header -- */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background-header.jpeg);
    background-size: cover;
    background-position: center;
    padding-bottom: 1rem;
}
.logo img {
    margin-top: 1rem;
    width:  25rem;
    margin-left: 3rem;
}
.titulo {
    color: var(--white);
    margin: 0 3rem;
}
.titulo .contenido-titulo h1 {
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    text-align: justify;
    line-height: 6rem;
    margin: 0 2.5rem;
}
/* -- Estilos Navbar -- */
.nav-bar {
    background-color: #6D6D6D;
    display: flex;
    justify-content: space-evenly;
}
.nav-bar .contenedor {
    margin-bottom: .25rem;
    padding: 0;
}
.nav-bar .contenedor .nav-principal a{
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    margin: 0 5rem;
}
.nav-bar .contenedor .nav-principal a:hover {
    color: aqua;
    background-color: #464646;
    cursor: pointer;
    transition: color 0.5s;
}
/* -- Estilos barra busqueda y boton buscar -- */
.contenedor .container-fluid .collapse .formulario-search {
    margin-left: 10rem;
    height: 3.5rem;
    width: 25rem;
}
.contenedor .container-fluid .collapse .formulario-search .buscar{
    font-size: 1.5rem;
}
.contenedor .container-fluid .collapse .formulario-search .btn-st {
    margin-left: 1rem;
    width: 15rem;
    background-color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
    border: solid black;
}
.contenedor .container-fluid .collapse .formulario-search .btn:hover{
    cursor: pointer;
    background-color: aqua;
}
/* -- Seccion OFERTAS -- */
.ofertas h2 {
    margin: 4rem 0;
    font-size: 4rem;
    font-family:monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.ofertas{
    position: relative;
}
.ofertas .promociones {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    margin: 0 auto;
    background-color: #F4FFFE;
    border-radius: 1rem;
    box-shadow: .5rem 0rem 2.5rem rgba(0, 0, 0, .6);
    overflow: hidden;
    width: 70%;
}
#contenedor-juego-1, #contenedor-juego-2, #contenedor-juego-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    animation: slider 15s ease-in-out infinite;
}
#contenedor-juego-1 {
    background-image: url(../assets/ofertas/background-1.png);
    background-size: cover;
}
#contenedor-juego-1 .img-juego {
    width: 300rem;
    height: 45rem;
    background-image: url(../assets/ofertas/elden-ring-game.webp);
    background-size: cover;
    background-position: center;
    margin: 3rem;
    border-radius: 2rem;
}
#contenedor-juego-2 {
    background-image: url(../assets/ofertas/background-2.png);
    background-size: cover;
}
#contenedor-juego-2 .img-juego {
    width: 300rem;
    height: 45rem;
    background-image: url(../assets/ofertas/horizon-zero-dawn.jpeg);
    background-size: cover;
    background-position: center;
    margin: 3rem;
    border-radius: 2rem;
}
#contenedor-juego-3 {
    background-image: url(../assets/ofertas/background-3.png);
    background-size: cover;
}
#contenedor-juego-3 .img-juego {
    width: 300rem;
    height: 45rem;
    background-image: url(../assets/ofertas/dead-space-game.webp);
    background-size: cover;
    background-position: center;
    margin: 3rem;
    border-radius: 2rem;
}
.ofertas .promociones .informacion {
    margin: 0 3rem 0 0;
    text-align: justify;
}
/* Informacion de cada juego - slider */
.ofertas .promociones .informacion .info-descripcion {
    font-size: 1.8rem;
}
.ofertas .promociones .informacion .info-descripcion b {
    font-family: 'Bree Serif', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
}
/* Ofertas - Calificacion */
.ofertas .promociones .informacion .star-rating {
    display: inline-block;
}
.ofertas .promociones .informacion .star-rating span {
    font-size: 3rem;
    color: var(--black);
}
.ofertas .promociones .boton-slider .boton {
    display: inline-block;
    margin: 0 2rem;
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
}
.ofertas .promociones .boton-slider {
    position: absolute;
    left: 46.5%;
    bottom: 3%;
}
.ofertas .promociones .boton-slider .boton:hover {
    box-shadow: 0rem, 0rem, .7rem, rgba(0, 0, 0, .6);
}
@keyframes slider {
    0%{transform: translateX(0%);}
    20%{transform: translateX(0%);}
    30%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    60%{transform: translateX(-200%);}
    80%{transform: translateX(-200%);}
    100%{transform: translateX(0%);}
}

/* PLANES Y PRECIOS */
.planes h2 {
    margin: 7rem 0 3rem 0;
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.planes .planes-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    gap: 2.5rem;
}
/* PS PLUS */
.planes .planes-info .card {
    border: none;
    align-items: center;
    border-radius: 5% 5% 0 0;
    box-shadow: .6rem .6rem .5rem .4rem rgba(0,0,0,0.57);
    margin-bottom: 5rem;
}
.planes .planes-info .un-anio-ps {
    grid-column: 2 / 3;
}
.planes .planes-info .tres-meses-ps {
    grid-column: 3 / 4;
}
.planes .planes-info .un-mes-ps {
    grid-column: 4 / 5;
}
.planes .planes-info .ps-plus-img {
    width: 100% ;
    height: 80%;
    padding: unset;
}
/* Estilos CARDS en general (PS y XBOX) */
.planes .planes-info .card .card-info {
    text-align: center;
}
.planes .planes-info .card .card-info .titulo-promo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
}
.planes .planes-info .card .card-info .card-descripcion {
    font-size: 1.4rem;
    text-align: justify;
    padding: .5rem 0;
}
/* Boton comprar PS */
.planes .planes-info .card .card-info .btn-comprar-ps {
    padding: 1rem 3rem;
    background-color: #2356B6;
    border: solid #2356B6;
    font-size: 1.5rem;
    font-weight: bold;
}
/* XBOX GAME PASS */
.planes .planes-info .game-pass-img {
    width: 100% ;
    height: 80%;
    padding: unset;
}
.planes .planes-info .un-anio-xbox {
    grid-column: 2 / 3;
}
.planes .planes-info .tres-meses-xbox {
    grid-column: 3 / 4;
}
.planes .planes-info .un-mes-xbox {
    grid-column: 4 / 5;
}
/* Boton compar xbox */
.planes .planes-info .card .card-info .btn-comprar-xbox {
    padding: 1rem 3rem;
    background-color: #0A9220;
    border: solid #0A9220;
    font-size: 1.5rem;
    font-weight: bold;
}
/* Animacion cards - Planes */
.planes-info .animacion-card {
    transition: transform .3s ease-in-out;
}
.planes-info .animacion-card:hover {
    transform: translateY(-15px);
}
/* FOOTER */
.redes h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    width: 10%;
    margin: 0 auto;
}
.redes .redes-icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.redes .redes-icon img{
    margin: .5rem;
    width: 80px;
    height: 80px;
    padding-bottom: 1rem;
}
.redes .redes-icon a:hover {
    color: unset;
    background-color: unset;
}
.copyrigth {
    text-align: center;
    /* margin-top: 2rem; */
    background-color: #6D6D6D;
    padding-bottom: .5rem;
}
.copyrigth .copyrigth-info {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white);
}
/* PLATAFORMAS */
.exclusivos {
    margin: 0 auto;
    width: 80%;
}
.exclusivos .exclusivo__consola--st {
    /* margin: 4rem 0; */
    padding: 4rem 0;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}
.exclusivos .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 5rem;
}
.exclusivos .grid-container .card-container {
    width: 100%;
    border: solid black;
    border-radius: 1.5rem;
    background-color: #eaeaea;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}
.exclusivos .grid-container .card-container .img--card {
    margin: 0 auto;
    width: 100%;
    padding: 3rem;
    border-radius: 4rem;
}
.exclusivos .grid-container .card-container .card-info {
    margin: 0 3rem;
}
.exclusivos .grid-container .card-container .card-info .texto .card__title--st {
    font-weight: bold;
    font-size: 2.5rem;
}
.exclusivos .grid-container .card-container .card-info .texto .card__text--st {
    margin-top: 1rem;
    text-align: justify;
    font-size: 1.3rem;
}
/* comentarios card */
.exclusivos .grid-container .card-container .card-info .comentarios .comentario-info {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.exclusivos .grid-container .card-container .card-info .comentarios .comentario-info .icon__user--dm {
    width: 5rem;
}
.exclusivos .grid-container .card-container .card-info .comentarios .comentario-info .text__user--st {
    margin-left: 1.2rem;
    text-align: justify;
    font-size: 1.1rem;
}
.exclusivos .grid-container .card-container .card-info .comentarios .comentario-info .text__user--st span {
    margin-left: 1rem;
}
/* Frame juego */
.exclusivos .grid-container .juego-trailer {
    padding: 1rem 0 1rem 1rem;
}
.exclusivos .grid-container .juego-trailer iframe {
    width: 100rem;
    height: 60rem;
}
/* enlaces card */
.exclusivos .grid-container .card-container .card-info .enlaces {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.exclusivos .grid-container .card-container .card-info .enlaces .card_link--opt {
    margin: 0 1.3rem;
    text-decoration: none;
    color: #1264FF;
}
/* QUIENES SOMOS */
.container-principal {
    margin-bottom: 5rem;
}
.container-principal .container__titulo {
    margin: 5rem 0;
}
.container-principal .container__titulo .titulo--st{
    font-size: 4.2rem;
    font-weight: bold;
}
.container-principal .layout__cont {
    display: flex;
    align-items: center;
}
.container-principal .layout__cont .logo {
    margin: 0 1rem 2rem 2rem;
}
.container-principal .layout__cont .logo--st {
    background-color: var(--black);
    margin: 2rem 0 2rem 3rem;
    padding: 3rem;
    border-radius: 20px;
    height: unset;
}
.container-principal .layout__cont .descripcion-empresa .texto--des{
    text-align: justify;
    font-size: 1.7rem;
    padding: 0 4.5rem 0 3rem;
}
/* -- Mision, Vision */
.mision-vision .mision__cont .mv-sty {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.mision-vision .mision__cont .mv-sty span {
    margin-right: .5rem;
}
.mision-vision .mision__cont .texto--mv {
    text-align: justify;
    padding: 3rem;
    font-size: 1.5rem;
}
/* Informacion contacto */
.container-principal .contacto-info {
    display: flex;
    align-items: center;
}
.container-principal .contacto-info .content__info .contaco--sty {
    font-size: 2rem;
    font-weight: bold
}
.container-principal .contacto-info .content__info .icon-sty {
    width: 7rem;
    height: 7rem;
    margin: 1.5rem 0;
    padding: unset;
}
.container-principal .contacto-info .content__info .texto--cont {
    font-size: 1.8rem;
}
/* Ubicacion */
.container-principal .ubicacion-info .ub--ti--stl {
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
/* CONTACTANOS */
.formulario h2 {
    margin: 4rem 0;
    text-align: center;
    font-size: 3.3rem;
    font-weight: bold;
}
.formulario h3 {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: unset;
}
.formulario .formulario-informacion {
    width: 50%;
    margin: 0 auto;
    border: solid black;
    padding: 4rem 4rem 4rem 4rem;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    background-color: #FAFAFA;
}
.formulario .formulario-informacion label {
    font-size: 2rem;
}
.formulario .formulario-informacion .row .form-input .input-data {
    padding: .5rem;
    font-size: 1.7rem;
}
.formulario .formulario-informacion .row .form-input .input-data::placeholder {
    opacity: 40%;
}
.formulario .formulario-informacion .fieldset-container {
    margin-top: 3rem;
}
.formulario .formulario-informacion .fieldset-container legend {
    font-size: 2rem;
    margin-right: 3rem;
}
.formulario .formulario-informacion .fieldset-container .form-check .check-in-wh {
    margin-top: .5rem;
    margin-left: 3rem;
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
}
/* Text area formulario */
.formulario .formulario-informacion .textarea-container .textarea-label {
    margin: 2rem 0 1rem 0;
}
.formulario .formulario-informacion .textarea-container .textarea-content {
    height: 15rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.formulario .formulario-informacion .btn-container {
    display: flex;
    justify-content: center;
}
.formulario .formulario-informacion .btn-container .btn-form {
    width: 15%;
    height: 5rem;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #6D6D6D;
    border: solid black;
    color: var(--white);
}
.formulario .formulario-informacion .btn-container .btn-form:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}

/* Vista Escritorio */
@media (max-width: 1399px) {
    .titulo .contenido-titulo h1 {
        font-size: 3rem;
    }
    .nav-bar .contenedor .nav-principal a{
        font-size: 1.5rem;
        margin: 0 3rem;
    }
    .contenedor .container-fluid .collapse .formulario-search .btn-st {
        height: 2.7rem;
    }
    .ofertas .promociones {
        width: 90%;
        height: 55rem;
    }
    .ofertas .promociones #contenedor-juego-1 .img-juego {
        width: 400rem;
        height: 35rem;
    }
    .ofertas .promociones #contenedor-juego-2 .img-juego {
        width: 400rem;
        height: 35rem;
    }
    .ofertas .promociones #contenedor-juego-3 .img-juego {
        width: 400rem;
        height: 35rem;
    }
    .contenedor .container-fluid .collapse .formulario-search {
        margin-left: 3rem;
        height: 2.5rem;
        width: 20rem;
    }
    .contenedor .container-fluid .collapse .formulario-search .buscar{
        font-size: 1.5rem;
    }
    .contenedor .container-fluid .collapse .formulario-search .btn {
        margin-left: 1rem;
        width: 10rem;
        background-color: var(--white);
        font-size: 1.2rem;
    }
    .planes .planes-info {
        grid-template-rows: unset;
        gap: 3rem;
    }
    /* -- CONTACTANOS -- */
    .formulario .formulario-informacion {
        padding: 4rem 4rem 4rem 5rem;
    }
    .formulario .formulario-informacion label {
        margin-right: 0;
    }
    .formulario .formulario-informacion .fieldset-container .form-check .check-in-wh {
        margin-left: unset;
    }
    .formulario .formulario-informacion .fieldset-container {
        display: inline-block;
    }
    .formulario .formulario-informacion .btn-container .btn-form {
        width: 25%;
    }
    /* PLATAFORMAS */
    .exclusivos {
        width: 95%;
    }
    .exclusivos .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    /* Frame juego */
    .exclusivos .grid-container .juego-trailer iframe {
        width: 70rem;
        height: 50rem;
    }
}

/* Vista Tablets */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: unset;
    }
    .logo img {
        margin-left: 3rem;
    }
    .titulo .contenido-titulo h1 {
        font-size: 2.3rem;
        line-height: 6rem;
    }
    .nav-bar .contenedor {
        width: 100%;
    }
    .nav-bar .contenedor .nav-principal a{
        font-size: 1.8rem;
        padding: 1rem;
    }
    /* Boton hamburguesa del navbar */
    .nav-bar .contenedor .container-fluid {
        justify-content: center;
        align-items: center;
    }
    .nav-bar .contenedor .container-fluid .navbar-toggler {
        background-color: #CBCBCB;
    }
    .nav-bar .contenedor .container-fluid .nav-principal a{
        text-align: center;
    }
    /* Boton hamburguesa seccion formulario buscar */
    .nav-bar .contenedor .container-fluid .collapse .formulario-search {
        margin: 0 auto;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        height: 3rem;
        width: 100%;
    }
    .nav-bar .contenedor .container-fluid .collapse .formulario-search .buscar {
        width: 60rem;
    }
    .contenedor .container-fluid .collapse .formulario-search .btn-st {
        height: unset;
        width: 12rem;
    }
    .ofertas h2 {
        font-size: 3.3rem;
    }
    .ofertas .promociones {
        width: 95%;
        height: 51rem;
    }
    .ofertas .promociones #contenedor-juego-1 .img-juego {
        width: 250rem;
        height: 35rem;
    }
    .ofertas .promociones #contenedor-juego-2 .img-juego {
        width: 200rem;
        height: 35rem;
    }
    .ofertas .promociones #contenedor-juego-3 .img-juego {
        width: 250rem;
        height: 35rem;
    }
    .ofertas .promociones .informacion .info-descripcion {
        font-size: 1.8rem;
    }
    .ofertas .promociones .informacion .info-descripcion b {
        font-size: 2.5rem;
    }
    .ofertas .promociones .informacion .info-descripcion span{
        display: none;
    }
    .ofertas .promociones .informacion .star-rating span {
        margin-bottom: 3rem;
    }
    .ofertas .promociones .boton-slider {
        left: 40%;
        bottom: 2.5%;
    }
    .planes .planes-info {
        gap: 3rem;
    }
    .planes .planes-info .card{
        margin-bottom: 3rem;
        width: 22rem;
    }
    .planes .planes-info .ps-plus-img {
        height: 50%;
    }
    .planes .planes-info .game-pass-img {
        height: 50%;
    }
    /* FOOTER */
    .redes .redes-icon img {
        width: 60px;
        height: 60px;
    }
    /* PLATAFORMAS */
    .exclusivos {
        width: 80%;
    }
    .exclusivos .grid-container {
        display: unset;
    }
    /* Frame juego */
    .exclusivos .grid-container .juego-trailer {
        margin: 3rem 0;
    }
    .exclusivos .grid-container .juego-trailer iframe {
        width: 100%;
        height: 40rem;
    }
    /* -- QUIENES SOMOS -- */
    .container-principal .layout__cont {
        display: unset;
    }
    .container-principal .layout__cont .logo {
        margin: 0 0 2rem 0;
    }
    .container-principal .layout__cont .logo--st {
        margin: 0 0 2rem 0;
    }
    .container-principal .layout__cont .descripcion-empresa .texto--des {
        padding: 0 3rem 0 3rem;
        margin-bottom: 4rem;
    }
    /* Informacion contacto */
    .container-principal .cont-mbl {
        width: 100%;
    }
    .container-principal .contacto-info {
        margin-bottom: 3rem;
    }
    .container-principal .contacto-info .content__info .contaco--sty {
        font-size: 2rem;
        font-weight: bold
    }
    .container-principal .contacto-info .content__info .icon-sty {
        width: 5rem;
        height: 5rem;
    }
    .container-principal .contacto-info .content__info .texto--cont {
        font-size: 1.8rem;
    }
    /* -- CONTACTANOS -- */
    .formulario h3 {
        text-align: justify;
        padding: 0 8rem;
    }
    .formulario .formulario-informacion {
        width: 80%;
    }
    .formulario .formulario-informacion .fieldset-container .check-w {
        width: 25%;
        margin-top: 2rem;
        margin-left: 9rem;
    }
    .formulario .formulario-informacion .fieldset-container .form-check .check-in-wh {
        width: 3rem;
        height: 3rem;
    }
    .formulario .formulario-informacion .fieldset-container .form-check .check-lb {
        padding: .5rem;
    }
    .redes h3 {
        width: 15%;
    }
}

/* Vista mobile */
@media (max-width: 480px) {
    header {
        flex-direction: column;
    }
    .logo img {
        margin-top: 1rem;
        width:  25rem;
        margin: 2rem 0;
    }
    .titulo .contenido-titulo h1 {
        font-size: 2rem;
        line-height: 4rem;
    }
    .nav-bar .contenedor .container-fluid .collapse .formulario-search .buscar {
        width: 20rem;
    }
    .ofertas h2 {
        font-size: 3.5rem;
    }
    .ofertas .promociones {
        width: 95%;
        height: 84rem;
    }
    .ofertas .promociones .informacion {
        margin: 0 2rem;
    }
    .ofertas .promociones .informacion .info-descripcion {
        font-size: 2rem;
    }
    .ofertas .promociones .informacion .star-rating {
        margin-bottom: 2rem
    }
    .ofertas .promociones .informacion .star-rating span {
        font-size: 2rem;
    }
    #contenedor-juego-1, #contenedor-juego-2, #contenedor-juego-3 {
        flex-direction: column;
        background-position: center;
        justify-content: unset;
    }
    .ofertas .promociones #contenedor-juego-1 .img-juego {
        width: 32rem;
        height: 35rem;
        margin: 3rem 0;
    }
    .ofertas .promociones #contenedor-juego-2 .img-juego {
        width: 32rem;
        height: 40rem;
        margin: 3rem 0;
    }
    .ofertas .promociones #contenedor-juego-3 .img-juego {
        width: 32rem;
        height: 35rem;
        margin: 3rem 0;
    }
    .ofertas .promociones .boton-slider {
        left: 30%;
        bottom: 1.5%;
    }
    .planes h2 {
        margin: 5rem 0 3rem 0;
    }
    .planes .planes-info {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .planes .planes-info .card {
        width: 31rem;
        height: 31rem;
    }
    /* Footer */
    .redes h3 {
        width: 50%;
    }
    .copyrigth {
        margin-top: 1rem;
    }
    /* PLATAFORMAS */
    .exclusivos {
        width: 90%;
    }
    .exclusivos .exclusivo__consola--st {
        font-size: 2rem;
    }
    /* enlaces card */
    .exclusivos .grid-container .card-container .card-info .enlaces {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .exclusivos .grid-container .card-container .card-info .enlaces .card_link--opt {
        display: block;
        margin: 0 2rem;
    }
    .exclusivos .grid-container .card-container .card-info .enlaces .card_link--opt:nth-child(1) {
        margin-bottom: 2rem;
    }
    /* -- QUIENES SOMOS -- */
    .container-principal .container__titulo .titulo--st{
        font-size: 3.8rem;
    }
    /* Informacion contacto */
    .container-principal .contacto-info {
        margin-bottom: 3rem;
        display: unset
    }
    .container-principal .contacto-info .content__info {
        margin-bottom: 4rem;
    }
    .container-principal .ubicacion-info .ub__map .iframe--stl {
        width: 34rem;
    }
    /* -- CONTACTANOS -- */
    .formulario h2 {
        padding: 0 1rem;
    }
    .formulario h3 {
        padding: 0 3rem;
    }
    .formulario .formulario-informacion {
        width: 90%;
        padding: 4rem 3rem 4rem 3rem;
    }
    .formulario .formulario-informacion .fieldset-container legend {
        margin-right: unset;
    }
    .formulario .formulario-informacion .fieldset-container .check-w {
        width: 31%;
        margin-left: 2rem;
    }
    .formulario .formulario-informacion .fieldset-container .form-check .check-in-wh {
        margin-right: unset;
    }
    .formulario .formulario-informacion .btn-container .btn-form {
        width: 40%;
    }
}



